* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1 {
  color: #5e5e5e;
  margin-bottom: 1rem;
}

header {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: #d63a92;
  font-weight: 600;
  margin-right: 2rem;
}

a:hover {
  color: #000;
}

.container {
  margin: 2rem auto;
  padding: 0 2rem;
  height: 90vh;
  width: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  border: 1px solid #d63a92;
  padding: 1rem 1.2rem;
}

.message {
  margin-top: 2rem;
  min-height: 15rem;
}

.search__form {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.search__input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 3px 5px;
  outline: 2px solid #ec1f94;
}

.search__button {
  padding: 7.5px 10px;
  background-color: #d63a92;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

footer {
  margin-top: 2rem;
  font-style: italic;
}
