<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>WeatherForecast</title>
  </head>
  <body>
    <div class="container">
      <div>
        {{>header}}
        <p>Web Application for getting your weather</p>

        <form class="search__form">
          <input class="search__input" type="text" placeholder="your location">
          <button class="search__button">Search</button>
        </form>       

        <section class="message">
          <p id="message-1"></p>
          <p id="message-2"></p>
        </section>
      </div>
        {{>footer}}
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>
